
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    height: 450px;
    text-transform: uppercase;
}

.personal{
    background: #f8eeee;
    padding: 35px 5px;
}

.personal-content{
    display: flex;
    justify-content: space-between;
}

.info{
    padding: 10px;
    color: #444;
}

.personal-img{
    padding: 10px;
}

.personal-img img{
    width: 100%;
}

.personal-info{
    padding: 10px;
}

.single-info{
    padding: 10px; 
 }

 .single-info img{
     width: 100%;
 }

 .welcome-text{
     text-align: center;
     padding: 20px;
     margin: 20px;
 }

 .welcome-text h3{
     font-size: 35px;
     color: #444;
 }

 .team-info{
    display: flex;
    justify-content: space-between;
}

 .appointment{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     text-align: center;
     font-size: 25px;
     color: #fff;
     background: url("../img/bg1.jpg");
     height: 450px;

 }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .about{
        height: 250px;
    }

    .personal-content{
        flex-direction: column;
    }
    
    .team-info{
        flex-direction: column;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .container{
        width: 100%;
        margin: 0 auto;
    }
    .about{
        height: 270px;
    }

    .personal-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .personal-info{
        width: 48%;
    }

    .personal-img{
        width: 48%;
    }
    
    .team-info{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .single-info{
        width: 46%;
    }
   

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .container{
        width: 100%;
        margin: 0 auto;
    }
    .about{
        height: 320px;
    }

    .personal-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .personal-info{
        width: 63%;
    }

    .personal-img{
        width: 33%;
    }

    .personal-img img {
        width: 280px;
        height: 320px;
    };
    
    .team-info{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-info{
        width: 30%;
    }
   
    

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .container{
        width: 100%;
        margin: 0 auto;
    }

    .about{
        height: 380px;
    }

    .personal-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .personal-info{
        width: 58%;
    }

    .personal-img{
        width: 38%;
    }

    .personal-img img {
        width: 260px;
        height: 320px;
    };

    .team-info{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-info{
        width: 30%;
    }
   

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
    .container{
        width: 1200px;
        margin: 0 auto;
    }

    .about{
        height: 380px;
    }

    .personal-content{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .personal-info{
        width: 63%;
    }

    .personal-img{
        width: 33%;
    }

    .personal-img img {
        width: 280px;
        height: 320px;
    };

    .team-info{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-info{
        width: 30%;
    }
   
   
    
}